{:provider :codex-tc
 :base-url "https://chatgpt.com/backend-api/codex"
 :auth-file "~/.codex/auth.json"
 :default-model "gpt-5.3-codex"
 :max-tokens 16384
 :default-agent "../agents/base-tc.agent.edn"}
