{:type :chatgpt-codex-toolcall
 :base-url "https://chatgpt.com/backend-api/codex"
 :auth-file "~/.codex/auth.json"
 :model "gpt-5.3-codex"
 :max-tokens 16384
 :default-agent "../agents/base-toolcall.agent.edn"}
