{:type :openai
 :api-key-env "OPENAI_API_KEY"
 :max-tokens 16384
 :default-agent "../agents/base-msg.agent.edn"
 :costs {"gpt-4o-mini"    [0.15 0.60]
         "gpt-4o"         [2.50 10.00]
         "gpt-4.1-nano"   [0.10 0.40]
         "gpt-4.1-mini"   [0.40 1.60]
         "gpt-4.1"        [2.00 8.00]
         "gpt-5-mini"     [0.25 2.00]
         "gpt-5-codex"    [1.25 10.00]
         "gpt-5.1-codex"  [1.25 10.00]
         "gpt-5"          [1.25 10.00]
         "gpt-5.1"        [1.25 10.00]
         "gpt-5.2-codex"  [1.75 14.00]
         "gpt-5.2"        [1.75 14.00]
         "gpt-5.3-codex"  [1.75 14.00]
         "gpt-5.3"        [1.75 14.00]
         "gpt-5.4"        [2.50 15.00]
         "gpt-5.4-pro"    [30.00 180.00]}}
