{:type :openai
 :api-key-env "VLLM_API_KEY"
 :base-url "http://localhost:8001/v1"
 :model "ByteDance-Seed/Seed-OSS-36B-Instruct"
 :max-tokens 32768
 :default-agent "../agents/base-msg.agent.edn"
 :costs {"ByteDance-Seed/Seed-OSS-36B-Instruct" [0.0 0.0]}}
